@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #fff;
    --color-secondary: #101828;
  }
}

@theme {
  /* fonts */
  --font-poppins: var(--font-poppins);

  /* colora */
  --color-primary: #fff;
  --color-secondary: #101828;
}

* {
  font-family: var(--font-poppins), "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: theme('colors.gray.900');
  /* Use `theme()` in Tailwind v4 */
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.teal.600');
  border-radius: 0.25rem;
  /* You can still use Tailwind rounding here */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.teal.500');
}

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: var(--font-poppins), "Poppins", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}